services:
  db:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    # 起動コマンド
    command: bash -c "rm -f tmp/pids/server.pid && ./bin/dev"
    volumes:
      - .:/myapp
      - bundle_data:/usr/local/bundle:cached
    environment:
      BUNDLE_PATH: "/usr/local/bundle"
      POSTGRES_HOST: db
      POSTGRES_PASSWORD: password
    ports:
      - "3000:3000"
    depends_on:
      - db
    # ▼ esbuild の終了（stdin closed）を防ぐための設定
    tty: true
    stdin_open: true

volumes:
  postgres_data:
  bundle_data: